requests
streamlit
python-dotenv
pandas
beautifulsoup4
lxml
pyyaml
aiohttp
aiodns
flask
playwright
setuptools-rust
psutil
pytest
pytest-asyncio
fpdf2
typer
rich
SpeechRecognition
pyttsx3
pywin32
PyAudio
openai-whisper
torch
static-ffmpeg
sqlalchemy
boto3
# force rebuild 3
playwright-stealth
fake-useragent
mcp
apscheduler
